div#logo{
    background-color: green;
    color: magenta;
    font:50px arial;
    text-align: center;
    text-shadow: silver 4px 4px 8px;
    border: double silver;
    letter-spacing: 15px;
}